<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deal">
	<select id="findAll" resultType="dealVo">
		select * from board b, member m, deal d where b.member_num = m.member_num and
		d.board_num = b.board_num
	</select>
	
	<select id="getBoard" resultType="dealVo">
  	select * from deal where deal_num=#{deal_num}
  </select>
  
  <select id="totalRecord" resultType="int">
  	select count(*) from deal
  </select>
  
  <update id="updateHit" parameterType="int">
  	update board set hit=hit+1 where no=#{no}
  </update>
</mapper>