<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main">
	<select id="mainFind" resultType="findVo">
		<![CDATA[SELECT b.board_num
			,title
			,content
			,bdate
			,VIEWS
			,board_type_num
			,m.member_num
			,member_nick
			,find_num
			,find_reward
			,find_pet
			,find_lost_loc
			,find_lost_date
		FROM board b
			,member m
			,find f
		WHERE board_type_num = 11
		AND b.member_num = m.member_num
		AND b.board_num = f.board_num and rownum <=3
		ORDER BY board_num DESC]]>
	</select>

	
	<select id="mainFindPicture" resultType="String">
		SELECT picture_fname, board_num
		FROM (select rownum n, picture_fname, board_num
		from (SELECT p.picture_fname, b.board_num
		FROM picture p, board b
		where board_type_num = 11 and b.board_num = p.board_num ORDER BY b.board_num desc, picture_file_num ))
	</select>
	
	
	
	
	<select id="mainBoho">
		<![CDATA[select board_type_num, title, content, bdate, boho_find_loc, picture_file_num, picture_fname from (select * from boho bh, board b, picture p, member m where bh.board_num = b.board_num and p.board_num = b.board_num and m.member_num = b.member_num order by bdate desc) where rownum <=3]]>
	</select>
	
</mapper>