<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="note">
	<select id="listSendNote" parameterType="int" resultType="noteVo">
	  select * from note where member_num = #{member_num}
	</select>

	<select id="detailNote" parameterType="int" resultType="noteVo">
	  select * from note where pet_num = #{pet_num}
	</select>
	
	<insert id="sendNewNote" parameterType="noteVo">
	  insert into note(pet_num, pet_name, pet_sex, pet_type, pet_regist_num, pet_birth, member_num) 
	  values((select nvl(max(pet_num), 0)+1 from pet), #{pet_name}, #{pet_sex}, #{pet_type}, #{pet_regist_num}, #{pet_birth}, #{member_num})
	</insert>
	
	<insert id="sendReplyNote" parameterType="noteVo">
	  insert into note(pet_num, pet_name, pet_sex, pet_type, pet_regist_num, pet_birth, member_num) 
	  values((select nvl(max(pet_num), 0)+1 from pet), #{pet_name}, #{pet_sex}, #{pet_type}, #{pet_regist_num}, #{pet_birth}, #{member_num})
	</insert>
	
	<delete id="deleteNote">
		delete from note where note_num = #{note}
	</delete>
</mapper>