<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="note">
	<!-- 보낸 쪽지함 최신순 정렬 -->
	<select id="sendNoteList" parameterType="int" resultType="noteVo">
		select note_num, note_content, note_date, note_sender_num, note_receiver_num 
		from member m, note 
		where m.member_num = note_sender_num and note_sender_num = #{note_sender_num} and note_send_visibility = 1 
		order by note_date DESC
	</select>
	
	<!-- 보낸 쪽지 내용 상세 조회 + 해당 쪽지를 받는 사람의 닉네임 -->
	<select id="detailSendNote" parameterType="int" resultType="noteVo">
		select note_num, note_content, note_date, note_sender_num, note_receiver_num, 
		(select distinct member_nick from member m, note where m.member_num = note_receiver_num
		and note_receiver_num = (select note_receiver_num from note where note_num = #{note_num})) member_nick 
		from member m, note where m.member_num = note_sender_num and note_num = #{note_num}
	</select>
	
	<!-- 보낸 쪽지함에서 쪽지 선택 삭제시, 해당 쪽지의 note_send_visibility를 0으로 변경하여 보낸 쪽지함 목록에서 제외 -->
	<update id="hideSendNoteArray" parameterType="int">
		update note set note_send_visibility = 0 where note_num = #{note_num}
	</update>
	
	<!-- 받은 쪽지함 최신순 정렬 -->
	<select id="receiveNoteList" parameterType="int" resultType="noteVo">
		select note_num, note_content, note_date, note_sender_num, note_receiver_num 
		from member m, note 
		where m.member_num = note_receiver_num and note_receiver_num = #{note_receiver_num} and note_receive_visibility = 1 
		order by note_date DESC
	</select>
	
	<!-- 받은 쪽지 내용 상세 조회 + 해당 쪽지를 보낸(답장시 쪽지를 받을) 사람의 닉네임 -->
	<select id="detailReceiveNote" parameterType="int" resultType="noteVo">
		select note_num, note_content, note_date, note_sender_num, note_receiver_num, 
		(select distinct member_nick from member m, note where m.member_num = note_sender_num
		and note_sender_num = (select note_sender_num from note where note_num = #{note_num})) member_nick 
		from member m, note where m.member_num = note_receiver_num and note_num = #{note_num}
	</select>
	
	<!-- 받은 쪽지 답장 -->
	<insert id="sendReplyNote" parameterType="noteVo">
	  insert into note(note_num, note_content, note_date, note_sender_num, note_receiver_num, note_send_visibility, note_receive_visibility) 
	  values((select nvl(max(note_num), 0)+1 from note), #{note_content}, sysdate+9/24, #{note_sender_num}, #{note_receiver_num}, 1, 1)
	</insert>
	
	<!-- 닉네임 클릭해서 새로운 쪽지 보내기 -->
	<insert id="sendNewNote" parameterType="noteVo">
	  insert into note(note_num, note_content, note_date, note_sender_num, note_receiver_num, note_send_visibility, note_receive_visibility) 
	  values((select nvl(max(note_num), 0)+1 from note), #{note_content}, sysdate+9/24, #{note_sender_num}, #{note_receiver_num}, 1, 1)
	</insert>
	
	<!-- 멤버 번호를 통해 해당 회원의 닉네임 조회 -->
	<select id="getMemberNick" parameterType="int" resultType="String">
		select member_nick from member where member_num = #{member_num}
	</select>
	
	<!-- 받은 쪽지함에서 쪽지 선택 삭제시, 해당 쪽지의 note_receive_visibility를 0으로 변경하여 보낸 쪽지함 목록에서 제외 -->
	<update id="hideReceiveNoteArray" parameterType="int">
		update note set note_receive_visibility = 0 where note_num = #{note_num}
	</update>
</mapper>