<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pet">
	<select id="listPet" parameterType="int" resultType="petVo">
	  select * from pet where member_num = #{member_num}
	</select>

	<select id="detailPet" parameterType="int" resultType="petVo">
	  select * from pet where pet_num = #{pet_num}
	</select>
	
	<insert id="insertPet" parameterType="petVo">
	  insert into pet(pet_num, pet_name, pet_sex, pet_type, pet_regist_num, pet_birth, member_num) 
	  values((select nvl(max(pet_num), 0)+1 from pet), #{pet_name}, #{pet_sex}, #{pet_type}, #{pet_regist_num}, #{pet_birth}, #{member_num})
	</insert>
	
	<delete id="deletePet"> 
		delete from pet where pet_num = #{pet_num}
	</delete>
</mapper>