<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reply">
  <select id="findAll" resultType="replyVo">
    select *
	from reply r, deal d, member m
	where r.member_num = m.member_num and r.board_num = d.board_num and d.board_num = #{board_num}
	order by reply_ref desc, reply_step
  </select>
  
  <insert id="insert" parameterType="replyVo">insert into reply(reply_num,reply_ref,reply_level,reply_step, reply_content,reply_date,member_num, board_num)
  values(#{reply_num},1, 1, 1,#{reply_content},sysdate,1, #{board_num})
  </insert>
  
	<select resultType="int" id="getNextReply_num">select nvl(max(reply_num),0)+1 from reply </select>

	<select resultType="replyVo" id="getReply">select * from reply where reply_num=#{reply_num} </select>

	<update id="updateStep">update reply set reply_step = reply_step +1where reply_ref=#{reply_ref} and reply_step > #{reply_step} </update>

	<update id="updateReply" parameterType="replyVo">update reply set reply_content=#{reply_content} where reply_num=#{reply_num} </update>

	<delete id="deleteReply">delete reply where reply_num=#{reply_num}</delete>
</mapper>













