<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="see">
	<select id="findAll" resultType="seeVo">
		SELECT board_num, title, content, bdate, views, board_type_num, member_num, member_nick
		FROM (SELECT rownum n, board_num, title, content, bdate, views, board_type_num, member_num, member_nick
		FROM (SELECT board_num, title, content, bdate, views, board_type_num, MEMBER.member_num, member_nick 
		FROM board, member WHERE BOARD_TYPE_NUM = 12
		AND board.member_num = MEMBER.member_num
		ORDER BY board_num DESC))
		WHERE n BETWEEN #{start} AND #{end}

	</select>
		
	<select id="search" resultType="seeVo">
		SELECT board_num, title, content, bdate, views, board_type_num, member_num, member_nick
		FROM (SELECT rownum n, board_num, title, content, bdate, views, board_type_num, member_num, member_nick
		FROM (SELECT board_num, title, content, bdate, views, board_type_num, MEMBER.member_num, member_nick 
		FROM board, member <include refid="search_ref"/> and BOARD_TYPE_NUM = 12
		AND board.member_num = MEMBER.member_num
		ORDER BY board_num DESC))
		where n BETWEEN #{start} AND #{end}
	</select>

	<sql id="search_ref">
		<choose>
			<!-- 작성자+제목+내용 검색조건으로 게시물 검색하는 쿼리 -->
			<when test="search_option == 'all' ">
				where
					member_nick like '%'||#{keyword}||'%'
					or content like '%'||#{keyword}||'%'
					or title like '%'||#{keyword}||'%'
			</when>
			<otherwise>
				<!-- 사용자가 지정한 조건의 검색으로 게시물 검색하는 쿼리 -->
				where ${search_option} like '%'||#{keyword}||'%'
			</otherwise>
		</choose>
	</sql>
	
	<insert id="insertBoard" parameterType="seeVo">
		insert into board(board_num,title,content,bdate,views,board_type_num,member_num) values((select nvl(max(board_num), 0)+1 from board), #{title}, #{content}, sysdate, 0, 12, 1)
	</insert>
	
	<insert id="insertSee" parameterType="seeVo">
		insert into see(see_num,see_pet,see_find_loc,see_find_date,board_num) values((select nvl(max(see_num), 0)+1 from see),#{see_pet},#{see_find_loc},#{see_find_date},(select nvl(max(board_num), 0) from board))
	</insert>
	
	<insert id="insertSeePicture" parameterType="seeVo">
		insert into picture(picture_file_num, picture_fname, board_num) values((select nvl(max(picture_file_num), 0)+1 from picture),#{picture_fname},(select nvl(max(board_num), 0) from board))
	</insert>
	
	
	<select id="getBoard" resultType="seeVo">
  		select * from see s, board b, picture p, member m where s.board_num = b.board_num and p.board_num = b.board_num and m.member_num = b.member_num and b.board_num=#{board_num}
  	</select>
  
	<select id="totalRecord" resultType="int">
  		select count(*) from see
	</select>
	
	<select id="searchRecord" resultType="int"> 
		SELECT count(*)
		FROM (SELECT rownum n, board_num, title, content, bdate, views, board_type_num, member_num, member_nick
		FROM (SELECT board_num, title, content, bdate, views, board_type_num, MEMBER.member_num, member_nick 
		FROM board, member WHERE BOARD_TYPE_NUM = 12
		AND board.member_num = MEMBER.member_num
		ORDER BY board_num DESC))
		<include refid="search_ref2"/>
	</select>
	
	<sql id="search_ref2">
		<choose>
			<!-- 작성자+제목+내용 검색조건으로 게시물 검색하는 쿼리 -->
			<when test="search_option == 'all' ">
				where
					member_nick like '%'||#{keyword}||'%'
					or content like '%'||#{keyword}||'%'
					or title like '%'||#{keyword}||'%'
			</when>
			<otherwise>
				<!-- 사용자가 지정한 조건의 검색으로 게시물 검색하는 쿼리 -->
				where ${search_option} like '%'||#{keyword}||'%'
			</otherwise>
		</choose>
	</sql>
	  
	<update id="updateHit" parameterType="int">
	  	update board set views = views+1 where board_num = #{board_num} and board_type_num = 12
	</update>

	<update id="updateSee" parameterType="seeVo">
	  	update see set see_pet = #{see_pet}, see_find_loc = #{see_find_loc}, see_find_date = #{see_find_date} where board_num = #{board_num}
	</update>
	
	<update id="updateBoard" parameterType="seeVo">
  		update board set title=#{title},content=#{content} where board_num = #{board_num}
  	</update>
  	
  	<update id="updateSeePicture" parameterType="seeVo">
  		update picture set picture_fname = #{picture_fname} where board_num = #{board_num}
  	</update>
  	
  	<delete id="deleteSee">
  		delete see where board_num = #{board_num}
  	</delete>
  	
  	<delete id="deleteBoard">
  		delete board where board_num = #{board_num}
  	</delete>
  	
  	<delete id="deleteSeePicture">
  		delete picture where board_num = #{board_num}
  	</delete>

</mapper>